@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 30px;
}
header > h1{
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    font-size: 3em;
}
header > p{
    color: #fff;
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}
section{
    padding: 40px 20px;
    font-size:1.3em;   
}
#sec1{
    margin-bottom: 80px;
}
section > p.secao2{
    padding-bottom: 50px;
} 
section > p{
    line-height: 2em;
    font-family: 'Kalam', cursive;
    font-size: 1.3em;
    
}
.secao > p{
    background-color: rgba(0, 0, 0, 0.419);
    color: #fff;
    padding: 3px;
    width: 327px;    
}
.secao{
    box-shadow:inset 5px 5px 8px 3px rgba(0, 0, 0, 0.509);
}

#imagem01{
    background-color: black;
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
}
#imagem02{
    background-color: black;
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;

}
footer{
    background-color: black;
    padding: 10px;
}
footer > p{
    text-align: center;
    color: #fff;
}
p strong{
    font-weight: 600;
}
footer > p > strong:hover{
    text-decoration: underline;
}